/keys.txt
/dataset
/env
/runs
/YOLO
/sample
/NN Practice
/dataset_>300
/dataset_original
/yolov8n.pt
/dataset_8000
/sample_out
/dataset_big
/dataset_slimjim
/dataset_classify
.ipynb_checkpoints/
dataset_classify_rgb/
dataset_rgb/
YOLO
